<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/pratica.css" />
    <title>Exibir Usuário</title>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo">
          <img src="/images/Tweet-Web.png" width=" 300 px" />
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <p>
          <a href="/autenticacao/login">
            <h1>Entrar</h1>
          </a>
        </p>
      </div>
    </main>
    <footer>
      <div class="container">
        <h3><p>&copy;2024 Tweet|Web</p></h3>
      </div>
    </footer>
  </body>
</html>
